{% extends 'base.html' %}

{% block content %}

<div class="container">

    <div class="col-lg-4">

    </div>
    
    <div class="col-lg-4 bg-success">

        <div class="container-fluid">
            <h1><p class="text-center">Mail Sent <span class="glyphicon glyphicon-ok"></span></p></h1>
            <strong><p class="text-primary">You should receive a email shortly with instructions for setting your passcode.</p></strong>

            <p>
                <a class="btn btn-primary" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">If you don't receive an email?</a>
            </p>

            
            <div class="collapse multi-collapse" id="multiCollapseExample1">
                <strong><p class="text-danger">please make sure you've entered the address you registered with, and check your spam folder.</p></strong>
            </div>
            
        </div>

    </div>

    <div class="col-lg-4">

    </div>

       
</div>


{% endblock %}