{% extends 'base.html' %}

{% block content %}

<div class="container">

    <div class="col-lg-4">

    </div>
    
    <div class="col-lg-4 bg-success">

        <div class="container-fluid">
            <h1><p class="text-center">Enter Passcode</p></h1>
        </div>

        <form action="" method="POST">
            {% csrf_token %}
            
            {% for field in form %}

            {% if field.errors %}

            <div class="form-group">
                <label for="id_{{field.label}}" class="control-label">{{ field.label }}</label>

                <div class="control">
                    {{ field }}
                    <ul class="errorlist">
                        {% for error in field.errors %}
                        <li><strong style="color: red;">{{ error }}</strong></li>
                    {% endfor %}
                    </ul>
                </div>
            </div>

            {% else %}

            <div class="form-group">
                <label for="id_{{field.label}}" class="control-label">{{field.label}}</label>

                <div class="control">   
                    {{field}}
                </div>

            </div>

            {% endif %}

            {% endfor %}
            
            <div class="container-fluid">
                <br><button type="submit" class="btn btn-primary">Reset</button>
            </div><br>
            
        </form>

    </div>

    <div class="col-lg-4">

    </div>

       
</div>


{% endblock %}