{% extends 'base.html' %}

{% block content %}

<div class="container">

    <div class="col-lg-4">

    </div>
    
    <div class="col-lg-4 bg-success">

        <div class="container-fluid">
            <h1><p class="text-center">Passcode Reset Complete <span class="glyphicon glyphicon-ok"></span></p></h1>
            <strong><p class="text-primary">Your Passcode has been set. You may go ahead and log in now.</p></strong>

            <p>
                <a data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Login Now</a>
            </p>

            
            <div class="collapse multi-collapse" id="multiCollapseExample1">
                <a class="btn btn-info" href="{% url 'signin-path' %}">Login</a>
            </div><br>
            
        </div>

    </div>

    <div class="col-lg-4">

    </div>

       
</div>


{% endblock %}